//HIDES DEFAULT CAROUSEL CONTROL GRADIENT
.carousel-control.left, .carousel-control.right {
  background: none !important;
  outline: 0;
  color: #000000;
 }

.carousel {
  margin-top: 3vh;
}

#slide0,#slide1,#slide2,#slide3,#slide4 {
  background: #FFFFFF;
  height: 100vh;
  padding-top: 5vh;
}

.Caption {
  background: #53BDDC;
  text-shadow: 2px 2px 2px #000000;
  border-radius: 5px;
  color: #FFFFFF;
  font: 4rem $primaryFont;
}

.btn-toolbar {
  margin: 0 17%;
}