@import 'sass/_variables.scss';
@import 'sass/_Carousel.scss';
@import 'sass/_Navigation.scss';
@import 'sass/_Landing.scss';
@import 'sass/_Summary-hppt.scss';
@import 'sass/_Summary-mm.scss';
@import 'sass/_Summary-gol.scss';

* {
  font-family: $primaryFont;
  outline: none!important;
}
.App {
  text-align: center;
}







